alembic==1.4.3
amqp==5.0.2
aniso8601==8.0.0
appdirs==1.4.4
apturl==0.5.2
asgiref==3.3.1
attrs==20.3.0
automaton==2.2.0
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
blinker==1.4
Brlapi==0.7.0
cachetools==4.1.1
castellan==3.6.0
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
-e git+https://opendev.org/openstack/cinder.git@30501b9ecd6d4ed8dd6405be01795d8634013b24#egg=cinder
click==7.1.2
cliff==3.5.0
cmd2==1.3.11
colorama==0.4.4
command-not-found==0.3
cryptography==3.2.1
cupshelpers==1.0
cursive==0.2.2
dbus-python==1.2.16
debtcollector==2.2.0
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.1.3
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.6.3
django-appconf==1.0.4
django-compressor==2.4
django-debreach==2.0.1
django-geojson==3.1.0
django-grappelli==2.14.2
django-leaflet==0.27.1
django-pyscss==2.0.2
django-suit==2.0a1
dnspython==1.16.0
dogpile.cache==1.0.2
duplicity==0.8.12.0
enmerkar==0.7.1
entrypoints==0.3
etcd3==0.12.0
etcd3gw==0.2.5
eventlet==0.29.1
extras==1.0.0
fasteners==0.14.1
filelock==3.0.12
fixtures==3.0.0
Flask==1.1.2
Flask-RESTful==0.3.8
future==0.18.2
futurist==2.3.0
GDAL==3.0.4
-e git+https://opendev.org/openstack/glance.git@1344c45772c1a77107f621632642cf1488e431db#egg=glance
glance-store==2.3.0
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
greenlet==0.4.17
grpcio==1.33.2
-e git+https://opendev.org/openstack/horizon.git@d6ab5431ba609194d449fb00da878d03a9065322#egg=horizon
httplib2==0.18.1
idna==2.10
iso8601==0.1.13
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jsonfield==3.1.0
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
-e git+https://opendev.org/openstack/keystone.git@b0b93c03986f3bb40c5a2ec31ee37c83014e197a#egg=keystone
keystoneauth1==4.2.1
keystonemiddleware==9.1.0
kombu==5.0.2
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libvirt-python==6.9.0
linecache2==1.0.0
lockfile==0.12.2
logutils==0.3.5
louis==3.12.0
lxml==4.6.1
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==1.1.1
microversion-parse==1.0.1
monotonic==1.5
msgpack==1.0.0
munch==2.5.0
mysqlclient==1.4.4
netaddr==0.8.0
netifaces==0.10.9
networkx==2.5
-e git+https://opendev.org/openstack/neutron.git@dab45b14f5a343b5ad53f55af4b1f477c6ea3505#egg=neutron
neutron-lib==2.6.1
-e git+https://opendev.org/openstack/nova.git@e16800cc0aebf1174c5c0b6c4b043b09622524e9#egg=nova
numpy==1.19.4
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
-e git+https://opendev.org/openstack/placement.git@c02a073c523d363d7136677ab12884dc4ec03e6f#egg=openstack_placement
openstacksdk==0.52.0
os-brick==4.0.1
os-client-config==2.1.0
os-ken==1.2.0
os-resource-classes==1.0.0
os-service-types==1.7.0
os-testr==2.0.0
os-traits==2.4.0
os-vif==2.2.0
os-win==5.2.0
os-xenapi==0.3.4
osc-lib==2.3.0
osc-placement==2.1.0
oslo.cache==2.6.1
oslo.concurrency==4.3.1
oslo.config==8.3.3
oslo.context==3.1.1
oslo.db==8.4.0
oslo.i18n==5.0.1
oslo.log==4.4.0
oslo.messaging==12.6.0
oslo.middleware==4.1.1
oslo.policy==3.5.0
oslo.privsep==2.4.0
oslo.reports==2.2.0
oslo.rootwrap==6.2.0
oslo.serialization==4.0.1
oslo.service==2.4.0
oslo.upgradecheck==1.1.1
oslo.utils==4.7.0
oslo.versionedobjects==2.3.0
oslo.vmware==3.7.0
osprofiler==3.4.0
ovs==2.13.0
ovsdbapp==1.7.0
packaging==20.4
paramiko==2.7.2
passlib==1.7.4
Paste==3.5.0
PasteDeploy==2.1.1
pbr==5.5.1
pecan==1.3.3
pexpect==4.6.0
Pillow==7.0.0
pluggy==0.13.1
prettytable==0.7.2
protobuf==3.13.0
psutil==5.7.3
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycadf==3.1.1
pycairo==1.16.2
pycparser==2.20
pycups==1.9.73
pydot==1.4.1
Pygments==2.3.1
PyGObject==3.36.0
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==3.11.0
PyMySQL==0.10.1
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.1
pypowervm==1.1.24
pyRFC3339==1.1
pyroute2==0.5.14
pyrsistent==0.17.3
pysaml2==6.3.0
pyScss==1.3.7
python-apt==2.0.0+ubuntu0.20.4.1
python-barbicanclient==5.0.1
python-cinderclient==7.2.0
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-designateclient==4.1.0
python-editor==1.0.4
python-glanceclient==3.2.2
python-keystoneclient==4.1.1
python-memcached==1.59
python-mimeparse==1.6.0
python-neutronclient==7.2.1
python-novaclient==17.2.1
python-openstackclient==5.4.0
python-subunit==1.4.0
python-swiftclient==3.10.1
pytz==2020.4
pyudev==0.22.0
pyxdg==0.26
PyYAML==5.3.1
rcssmin==1.0.6
reportlab==3.5.34
repoze.lru==0.7
requests==2.23.0
requests-unixsocket==0.2.0
requestsexceptions==1.4.0
retrying==1.3.3
rfc3986==1.4.0
rjsmin==1.1.0
Routes==2.5.1
rsa==4.6
rtslib-fb==2.1.74
scrypt==0.8.17
SecretStorage==2.3.1
semantic-version==2.8.5
setproctitle==1.1.10
simplegeneric==0.8.1
simplejson==3.17.2
six==1.15.0
sortedcontainers==2.3.0
soupsieve==2.0.1
SQLAlchemy==1.3.20
sqlalchemy-migrate==0.13.0
sqlparse==0.4.1
ssh-import-id==5.10
statsd==3.3.0
stestr==3.0.1
stevedore==3.2.2
suds-jurko==0.6
systemd-python==234
tabulate==0.8.7
taskflow==4.5.0
-e git+https://opendev.org/openstack/tempest.git@72a3ff996f1242a9d477ca4c138f34a61c360b09#egg=tempest
Tempita==0.5.2
tenacity==6.2.0
testresources==2.0.1
testscenarios==0.5.0
testtools==2.4.0
tinyrpc==1.0.4
toml==0.10.0
tooz==2.7.1
tox==3.20.1
traceback2==1.4.0
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unittest2==1.1.0
uritemplate==3.0.1
urllib3==1.25.11
usb-creator==0.3.7
vine==5.0.0
virtualenv==20.1.0
voluptuous==0.12.0
wadllib==1.3.3
waitress==1.4.4
warlock==1.3.3
wcwidth==0.2.5
WebOb==1.8.6
websockify==0.9.0
WebTest==2.0.35
Werkzeug==1.0.1
wrapt==1.12.1
WSME==0.10.0
xkit==0.0.0
XStatic==1.0.2
XStatic-Angular==1.5.8.0
XStatic-Angular-Bootstrap==2.5.0.0
XStatic-Angular-FileUpload==12.0.4.0
XStatic-Angular-Gettext==2.4.1.0
XStatic-Angular-lrdragndrop==1.0.2.4
XStatic-Angular-Schema-Form==0.8.13.0
XStatic-Bootstrap-Datepicker==1.4.0.0
XStatic-Bootstrap-SCSS==3.4.1.0
XStatic-bootswatch==3.3.7.0
XStatic-D3==3.5.17.0
XStatic-Font-Awesome==4.7.0.0
XStatic-Hogan==2.0.0.3
XStatic-Jasmine==2.4.1.2
XStatic-jQuery==1.12.4.1
XStatic-JQuery-Migrate==1.2.1.2
XStatic-jquery-ui==1.12.1.1
XStatic-JQuery.quicksearch==2.0.3.2
XStatic-JQuery.TableSorter==2.14.5.2
XStatic-JSEncrypt==2.3.1.1
XStatic-mdi==1.6.50.2
XStatic-objectpath==1.2.1.0
XStatic-Rickshaw==1.5.1.0
XStatic-roboto-fontface==0.5.0.0
XStatic-smart-table==1.4.13.2
XStatic-Spin==1.2.5.3
XStatic-term.js==0.0.7.0
XStatic-tv4==1.2.7.0
yappi==1.3.0
zstd==1.4.5.1
zVMCloudConnector==1.4.1
